body{
    margin: 0;
    padding: 0;
    font-family: Courier New, sans-serif;
    background-color:#5994B4;
    color: #9f2ac3;
}

.header {
    width: 100%;
    padding: 10px 0;
    background-image: linear-gradient(to right, #9f2ac3 , #800080 , #800080);;
    color: yellow;
    text-align: left;
    position: absolute;
}

.header h1 {
    margin: 0;
}

.img1 img1 {
    width: 100px;
    height: 1px;
}

.containerl {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 55%; /* Sinistra */
    margin-top: -180px; /* Altezza */
    margin-left: -250px; /* Larghezza */
    padding: 20px;
    text-align: center;
}

h2{
    margin-top: -50px;
    font-size: 50px;
    background-image: linear-gradient(to right, #9f2ac3 , #800080 , #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.butt1 button{
    font-family: "DIN Next LT W04", sans-serif;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #9f2ac3;
    color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    text-decoration: none;
}

.butt1 button:hover {
    background-color: #800080;
    color: #00ffff;
}

.form-label {
    font-size: 25px;
    color:  #800080;
    margin-bottom: 10px;
}

.form-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f3d8ff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-button {
    padding: 5px 15px;
    font-size: 16px;
    color: #f3d8ff;
    background-color: #b054da;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #800080;
}
